/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---  CUSTOM CSS ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #60a9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main.panel {
    width: 100%;
    max-width: 960px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;
}

section.pricing-plan {
    border-bottom: 2px solid #d9e4ee;
}

section.pricing-plan:last-child {
    border: none;
}

section img.pricing-img {
    width: 100%;
    max-width: 100%;
    transform: scale(.5);
}

section h2.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1.2px;
}

section ul.pricing-features {
    color: #016ff9;
    margin: 20px auto 25px;
}

section ul.pricing-features li.pricing-features-item {
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    padding: 14px 0;
    font-size: 13px;
    border-top: 2px solid #d9e4ee;
}

section ul.pricing-features li.pricing-features-item:last-child {
    border-bottom: 2px solid #d9e4ee;
}

span.pricing-price {
    color: #016ff9;
    display: block;
    font-weight: 700;
    font-size: 32px;
}

.pricing-button {
    border: 1px solid #8ec8fa;
    color: #348eff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 15px;
    display: inline-block;
    margin: 25px 0;
    font-weight: 600;
    transition: background .2s ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

.featured {
    background-color: #48aaff;
    color: #fff;
}

.featured:hover, .featured:focus {
    background-color: #269aff;
    color: #fff;
}

@media (min-width: 900px) {
    main.panel {
        flex-direction: row;
        height: 465px;
    }

    section.pricing-plan {
        border: none;
        border-right: 2px solid #d9e4ee;
        padding: 25px 50px;
    }

    section.pricing-plan:last-child {
        border-right: none;
    }
}